.container-1{
    display: flex;
    gap: 10px;
}
.box h3{
    text-align: center;
}
.box{
    background-color: aqua;
}
.container-2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.container-2 .item{
    display: flex;
    justify-content: center;
    align-items: center;

}
.item{
    background-color: tomato;
    width: 200px;
    height: 200px;
}
@media screen and (max-width: 576px) {
    .container-1{
        flex-direction: column;
    }
}